body{
    font-family: Arial;
}

#heading{
    text-align: center;
}

.input{
    height: 35px;
    width: 150px;
    font-weight: 600;
    padding: 3px;

}
.input1{
    height:45px;
    width: 200px;
    font-weight: 600;
}

#Addbutton{
    width: 95px;
    height: 38px;
    background-color: darkgreen;
    border: none;
    border-radius: 8px;
    color: white;
    margin:3px;
}

.grid-cantenar{

    display: grid;
    grid-template-columns:200px 150px 100px;
    column-gap: 25px;
    row-gap: 40px;
    margin-top: 15px;
    align-items: center;
}

.btn-delete{
    background-color: rgb(76, 8, 8);
    color: white;
    border: none;
    border-radius: 8px;
    width: 95px;
    height: 40px;

}